/* IMG Block */

.img-block{
   position: relative;
   margin: 0;
   padding: 0;
   width: 100%;
}

.img-block__content {
   position: relative;
   display: inline-block;
   text-align: center;
}
.img-block__content__tittle {
   color: white;
   text-align: center;
   position: absolute;
   left: 50%;
   top:40%;
   transform: translate(-50%, -60%);
}

.img-block__curve-top{
   position: absolute;
   top: -2px;
   width: 100%;
}
.img-block__curve-bot{
   position: absolute;
   bottom: -2px;
   width: 100%;
}

/* END IMG Block */