
<section class="img-block">
   <div class="img-block__curve-top">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
         viewBox="0 0 1920 174">
         <path class="st0" d="M1920,174c0,0-1580.6-339.4-1920,0V0h1920V174z" />
      </svg>
   </div>

   <div class="img_block__content">
      <h1 class="img-block__content__tittle">#Developers</h1>
      <img src="assets/developers.png" alt="developers-img" width="100%">
   </div>

   <div class="img-block__curve-bot">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
         viewBox="0 0 1920 308">
         <path class="st0" d="M1920,0C1626,556,0,0,0,0v308h1920V0z" />
      </svg>
   </div>
</section>