<nav id="nav" class="navbar">
   <div class="navbar__content">
      <div class="navbar__content__item">
         <a href="">
            <img src="assets/logo-neg-min.png" class="item__img" alt="">
         </a>
      </div>
      <div class="navbar__content__item"></div>
      <div class="navbar__content__item">
         <a href="">
            <h3 class="item__text">History</h3>
         </a>
      </div>
      <div class="navbar__content__item">
         <a href="">
            <h3 class="item__text">Form</h3>
         </a>
      </div>
   </div>
</nav>