<nav id="nav" class="navbar">
   <div class="navbar__content">
      <div class="navbar__content__item">
         <img src="assets/logo-neg-min.png" (click)="scrollTo('head')" class="item__img" alt="">
      </div>
      <div class="navbar__content__item"></div>
      <div class="navbar__content__item">
         <h3 class="item__text" (click)="scrollTo('history')">History</h3>
      </div>
      <div class="navbar__content__item">
         <h3 class="item__text" (click)="scrollTo('form')">Form</h3>
      </div>
   </div>
</nav>