<section class="head-block">
   <div class="head-block__content">
      <h1 class="head-block__content__tittle">Welcome to&nbsp;the&nbsp;family</h1>
   </div>
   <div class="head-block__curve">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" viewBox="0 0 1920 312">
         <path class="st0" d="M1920,0C1920,0,905,458,0,170v142h1920V0z" />
      </svg>
   </div>
</section>

<section class="info-block">
   <h1 class="info-block__tittle">History</h1>
   <p class="info-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore
      magna aliqua. Elementum nisi quis eleifend quam adipiscing vitae proin. Magna fermentum iaculis eu non. In egestas
      erat imperdiet sed euismod nisi porta lorem. Sed euismod nisi porta lorem mollis. Vitae congue mauris rhoncus
      aenean vel. Tempor orci eu lobortis elementum nibh tellus molestie nunc. Aliquet enim tortor at auctor urna nunc.
      Massa massa ultricies mi quis. Risus nullam eget felis eget nunc lobortis mattis. Neque egestas congue quisque
      egestas diam in arcu cursus euismod. Lobortis mattis aliquam faucibus purus in massa tempor nec. Tincidunt arcu
      non sodales neque sodales ut etiam. Nibh tortor id aliquet lectus proin. nulla facilisis at vero eros et accumsan
      et</p>
</section>



<section class="info-block">
   <h1 class="info-block__tittle">Contact</h1>
   <p class="info-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Elementum nisi quis eleifend quam adipiscing vitae proin. Magna fermentum
      iaculis eu non. In egestas erat imperdiet sed euismod nisi porta lorem. Tincidunt arcu non sodales neque sodales
      ut etiam. ullamcorper suscipit lobortis nisl ut</p>
</section>